*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
h1{
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.stage{
    border: solid 1px;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 10px black;
}
.square{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: solid;
    border-width: 1px;
    margin: 1px;
    display: inline-block;
}
.o{
    position: relative;
}
#btn{
    font: normal 25px Arial;
    margin-top: 20px;
    padding: 4px;
    border-width: 5px;
}
.o:after{
    position: absolute;
    content: "\1F6E1";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* essas direções zeradas servem para forçar a centralização */
}
.x{
    position: relative;
}
.x:after{
    position: absolute;
    content: "\2694";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* essas direções zeradas servem para forçar a centralização */
}